ul {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h2 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1280px;
  width: 100%;
}

.easy {
  padding: 80px 0;
}

.easy-title {
  color: #141414;
  text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1);
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.easy-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.easy-items {
  width: 100%;
}
.easy-img {
  border-radius: 100px;
  width: 335px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}
.easy-text {
  color: #141414;
  /* text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.1); */
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.04em;
}
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .box {
    display: flex;
    gap: 40px 8px;
  }

  .easy-title {
    display: block;
    /* justify-content: flex-start; */
    width: 386px;
    height: 176px;
    font-size: 40px;
    line-height: 1.1;
  }

  .easy-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  /* .easy-items {
    width: calc((100%-20px) / 2);
  } */

  .easy-text {
    font-size: 18px;
    line-height: 1.33;
  }

  .big {
    width: 317px;
    height: 96px;
  }

  .small {
    width: 279px;
    height: 72px;
  }

  .easy-img {
    width: 310px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .box {
    gap: 192px;
  }

  .easy-title {
    font-size: 48px;
    line-height: 1.04;
    width: 614px;
    height: 170px;
  }

  .easy-img {
    width: 410px;
  }

  .easy-list {
    gap: 40px;
    width: 687px;
  }

  .big {
    width: 353px;
  }

  .small {
    width: 294px;
  }
}
